:root {
	box-sizing: border-box;

	--main-background: #aaa;
	--grid-background: white;

	--pink: #ef476f;
	--yellow: #ffd166;
	--green: #06d6a0;
	--blue: #118ab2;
	--dark: #073b4c;

	--grid-line-color: #808080;

	--base-cell-size: 5;
	--number-of-cells: 16;
	--real-cell-size: calc(
		(128 / var(--number-of-cells)) * var(--base-cell-size) - 1
	);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	background-color: var(--dark);
	text-align: center;
}

h1 {
	margin: 0;
	padding: 1rem;
	font-weight: 700;
	font-size: 5rem;
	font-family: "Caveat", cursive;
	color: var(--yellow);
}

main {
	display: flex;
	justify-content: center;
	width: fit-content;
	height: 100%;
	border: 3px solid var(--yellow);
	padding: 3rem;
	border-radius: 1rem;
	overflow: hidden;
	background-color: var(--pink);
	-webkit-box-shadow: 6px 6px 16px 4px rgba(0, 0, 0, 1);
	-moz-box-shadow: 6px 6px 16px 4px rgba(0, 0, 0, 1);
	box-shadow: 6px 6px 16px 4px rgba(0, 0, 0, 1);
}

div.grid-wrapper {
	min-height: 100%;
	padding-left: 3rem;
	background-color: var(--pink);
}

section.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: calc(
		1px *
			(
				var(--number-of-cells) * var(--real-cell-size) +
					(var(--number-of-cells) + 1)
			)
	);
	height: calc(
		1px *
			(
				var(--number-of-cells) * var(--real-cell-size) +
					(var(--number-of-cells) + 1)
			)
	);
	-webkit-box-shadow: inset 8px 8px 16px 6px var(--grid-line-color);
	-moz-box-shadow: inset 8px 8px 16px 6px var(--grid-line-color);
	box-shadow: inset 8px 8px 16px 6px var(--grid-line-color);
	background-color: var(--grid-background);
}

div.cell {
	background-color: white;
	border: 1px solid var(--grid-line-color);
	transition: 0.2s;
}

div.interface {
	display: flex;
	gap: 3rem;
	min-height: 100%;
	background-color: var(--pink);
}

div.toolbar-wrapper {
	background-color: var(--yellow);
	overflow: hidden;
	border: 3px solid var(--yellow);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.toolbar-wrapper h2 {
	margin: 0;
	padding: 0.25rem 1rem;
	font-size: 1.5rem;
	color: black;
	max-width: calc(6px + 7rem);
}

section.settings {
	overflow: hidden;
	display: flex;
	flex: 1;
	flex-direction: column;
	border-radius: 1rem;
	padding: 1rem 2rem;
	background-color: var(--green);
	-webkit-box-shadow: inset 4px 4px 32px -4px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 4px 4px 32px -4px rgba(0, 0, 0, 1);
	box-shadow: inset 4px 4px 32px -4px rgba(0, 0, 0, 1);
}

menu {
	list-style: none;
}

section.settings h3 {
	color: var(--dark);
	font-size: 1.25rem;
	font-weight: 700;
}

section.settings menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var(--dark);
	gap: 0.5rem;
	padding: 0;
}

section.settings menu label {
	font-size: 1.125rem;
	line-height: 1.1;
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
	cursor: pointer;
}

section.settings input[type="radio"] {
	appearance: none;
	cursor: pointer;
	background-color: #fff;
	margin: 0;
	color: var(--blue);
	width: 1.5em;
	height: 1.5em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	transform: translateY(-0.075em);
	transition: background 0.2s;

	display: grid;
	place-content: center;
}

section.settings input[type="radio"]:hover {
	background-color: var(--yellow);
}

section.settings input[type="radio"]::before {
	content: "";
	width: 0.75em;
	height: 0.75em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--pink);
}

section.settings input[type="radio"]:checked::before {
	transform: scale(1);
}

/* Slider */
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	margin: 18px 0;
	width: 100%;
	background-color: var(--green);
}
input[type="range"]:focus {
	outline: none;
}

/* Slider track */
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.5rem;
	cursor: pointer;
	box-shadow: 1px 1px 1px var(--dark), 0px 0px 1px var(--dark);
	background-color: var(--blue);
	border-radius: 0.25rem;
	border: 1px solid var(--dark);
}
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 0.5rem;
	cursor: pointer;
	box-shadow: 1px 1px 1px var(--dark), 0px 0px 1px var(--dark);
	background-color: var(--blue);
	border-radius: 0.25rem;
	border: 1px solid var(--dark);
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 0.5rem;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background-color: var(--blue);
	border: 1px solid var(--dark);
	border-radius: 0.5rem;
	box-shadow: 1px 1px 1px var(--dark), 0px 0px 1px var(--dark);
}
input[type="range"]::-ms-fill-upper {
	background-color: var(--blue);
	border: 1px solid var(--dark);
	border-radius: 0.5rem;
	box-shadow: 1px 1px 1px var(--dark), 0px 0px 1px var(--dark);
}
/* Focus */
input[type="range"]:focus::-webkit-slider-runnable-track {
	background-color: var(--blue);
}
input[type="range"]:focus::-ms-fill-lower {
	background-color: var(--blue);
}
input[type="range"]:focus::-ms-fill-upper {
	background-color: var(--blue);
}

/* Slider thumb */
input[type="range"]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px var(--dark), 0px 0px 1px var(--dark);
	border: 1px solid var(--dark);
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background: var(--pink);
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	margin-top: -0.5rem;

	/* transform: translateY(25%); */
}
input[type="range"]::-moz-range-thumb {
	box-shadow: 1px 1px 1px var(--dark), 0px 0px 1px var(--dark);
	border: 1px solid var(--dark);
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background: var(--pink);
	cursor: pointer;
}
input[type="range"]::-ms-thumb {
	box-shadow: 1px 1px 1px var(--dark), 0px 0px 1px var(--dark);
	border: 1px solid var(--dark);
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background: var(--pink);
	cursor: pointer;
}

div.grid-lines {
	margin-top: auto;
}

label.toggle {
	cursor: pointer;
	display: inline-block;
}

div.toggle-switch {
	display: inline-block;
	background: #ddd;
	border-radius: 20px;
	width: 36.25px;
	height: 20px;
	position: relative;
	vertical-align: middle;
	transition: background 0.4s;
}
div.toggle-switch::before,
div.toggle-switch::after {
	content: "";
}
div.toggle-switch::before {
	display: block;
	background-color: var(--blue);
	border-radius: 50%;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 2px;
	left: 2px;
	transition: left 0.25s;
}
input.toggle-checkbox:checked + .toggle-switch {
	background: var(--pink);
}
input.toggle-checkbox:checked + .toggle-switch::before {
	background-color: var(--yellow);
	left: 18px;
}

input.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}

span.toggle-label {
	margin-left: 5px;
	font-size: 1.125rem;
	position: relative;
	top: 2px;
	color: var(--dark);
}

section.settings button.clear-grid {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: 1.125rem;
	font-family: inherit;
	margin-top: 1.5rem;
	margin-bottom: 1rem;

	font-weight: 600;
	color: black;
	text-transform: uppercase;
	padding: 1.25rem 2rem;
	background: var(--blue);
	border: 2px solid var(--pink);
	border-radius: 0.75em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		background 150ms cubic-bezier(0, 0, 0.58, 1);
}

section.settings button.clear-grid::before {
	position: absolute;
	content: "";
	width: calc(100% + 1px);
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--pink);
	border-radius: inherit;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 2px 8px 5px 2px black;
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

section.settings button.clear-grid:hover {
	/* background: var(--pink); */
	transform: translate(0, 0.25em);
}

section.settings button.clear-grid:hover::before {
	box-shadow: 1px 4px 5px 1px black;
	transform: translate3d(0, 0.5em, -1em);
}

section.settings button.clear-grid:active {
	background: var(--yellow);
	transform: translate(0em, 0.75em);
}

section.settings button.clear-grid:active::before {
	box-shadow: 0 0 0 0px var(--dark), 0 0 var(--dark);
	transform: translate3d(0, 0, -1em);
}

div.radio-sections-wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	background-color: var(--pink);
}

section.toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	width: calc(6px + 7rem);
	gap: 1rem;
	border-radius: 1rem;
	padding: 1rem;
	background-color: var(--green);
	-webkit-box-shadow: inset 4px 4px 32px -4px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 4px 4px 32px -4px rgba(0, 0, 0, 1);
	box-shadow: inset 4px 4px 32px -4px rgba(0, 0, 0, 1);
}

div.tool-wrapper {
	height: 2rem;
	display: flex;
}

section.toolbar input[type="radio"] {
	appearance: none;
	margin: 0;
}

.toolbar label {
	position: relative;
	display: inline-block;
	cursor: pointer;
	appearance: none;
	border: 1px solid var(--pink);
	margin: 0;
	flex: 0 0 2rem;
	height: 2rem;
	width: 2rem;
	border-radius: 5px;
	transform-style: preserve-3d;
	transition: 0.15s cubic-bezier(0, 0, 0.58, 1);
	color: black;
	background-color: var(--blue);
}

.toolbar label::before {
	position: absolute;
	content: "";
	width: calc(100% + 1px);
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--pink);
	border-radius: inherit;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 1px 1px 4px 2px black;
	transform: translate3d(0, 0.75em, -1em);
	transition: 0.15s cubic-bezier(0, 0, 0.58, 1);
}

.toolbar label:hover {
	transform: translate(0, 0.25em);
}

.toolbar label:hover::before {
	box-shadow: 1px 1px 3px 1px black;
	transform: translate3d(0, 0.5em, -1em);
}

.toolbar input[type="radio"]:checked + label {
	border: 2px solid var(--yellow);
	transform: translate(0em, 0.75em);
}

.toolbar input[type="radio"]:checked + label::before {
	box-shadow: 0 0 0 0px var(--dark), 0 0 var(--dark);
	transform: translate3d(0, 0, -1em);
}

.toolbar label i {
	font-size: 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section.color-picker {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	width: calc(6px + 7rem);
	gap: 1rem;
	border-radius: 1rem;
	padding: 1rem;
	background-color: var(--green);
	-webkit-box-shadow: inset 4px 4px 32px -4px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 4px 4px 32px -4px rgba(0, 0, 0, 1);
	box-shadow: inset 4px 4px 32px -4px rgba(0, 0, 0, 1);
}

input[type="radio"].color-cell {
	position: relative;
	display: inline-block;
	cursor: pointer;
	appearance: none;
	border: 1px solid var(--pink);
	margin: 0;
	flex: 0 0 2rem;
	height: 2rem;
	border-radius: 5px;
	transform-style: preserve-3d;
	transition: 0.15s cubic-bezier(0, 0, 0.58, 1);
}

input[type="radio"].color-cell::before {
	position: absolute;
	content: "";
	width: calc(100% + 1px);
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--pink);
	border-radius: inherit;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 1px 1px 4px 2px black;
	transform: translate3d(0, 0.75em, -1em);
	transition: 0.15s cubic-bezier(0, 0, 0.58, 1);
}

input[type="radio"].color-cell:hover {
	/* border: 1px solid var(--blue); */
	transform: translate(0, 0.25em);
}

input[type="radio"].color-cell:hover::before {
	box-shadow: 1px 1px 3px 1px black;
	transform: translate3d(0, 0.5em, -1em);
}

input[type="radio"].color-cell:checked {
	border: 3px solid var(--yellow);
	transform: translate(0em, 0.75em);
}

input[type="radio"].color-cell:checked::before {
	box-shadow: 0 0 0 0px var(--dark), 0 0 var(--dark);
	transform: translate3d(0, 0, -1em);
}

footer {
}

.black {
	background-color: #000000;
}

.dark-gray {
	background-color: #606060;
}

.gray {
	background-color: #a0a0a0;
}

.white {
	background-color: #ffffff;
}

.red {
	background-color: #ff0000;
}

.orange {
	background-color: #ff8000;
}

.yellow {
	background-color: #ffff00;
}

.lime {
	background-color: #80ff00;
}

.green {
	background-color: #00ff00;
}

.cyan {
	background-color: #00ff80;
}

.aqua {
	background-color: #00ffff;
}

.light-blue {
	background-color: #0080ff;
}

.blue {
	background-color: #0000ff;
}

.violet {
	background-color: #8000ff;
}

.magenta {
	background-color: #ff00ff;
}

.pink {
	background-color: #ff0080;
}
