:root {
	box-sizing: border-box;

	--main-background: #aaa;
	--grid-background: #ccc;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--main-background);
}

section.grid {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: space-between;
	/* border: 1px solid black; */
	background-color: #ddd;
}

div.cell {
	background-color: white;
	border: 1px solid #ddd;
}
